language: groovy
jdk:
- openjdk8
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
before_install:
- chmod +x ./gradlew
script:
- "./gradlew --no-daemon check"
env:
  global:
  - secure: f7sdLuq//TejWKC/1sSrtgdgZe0KiUTlT4kfWkWO0sZ/XcLsuvz9PMO0p1C/sWKBZlW0gXV4FBvSsntEaRW3g6JCW5k9Mg1n9t6viQzSusfzuUesInG2k5GnqNgUmdnqYGR1Kj2P9VOKiHGv9hckPXFaSGeoLZ/oK9MlCNJuIEdG8ql4WJr3ptIZb1m9uaBfZjq7fYTQErLIkiOElTY9F/sgp0EAlp67AGcy0aOsgrfdYzQKQ0UTF2fClWaKlX3yLW3DFBAa2+QONCp2LLKtfLmTu4Rg0dV/Feo3bMdAi1uU/a4nGsaQzbHLDiRiwVwSnRz5MXsyneJA4PcPcojbtXjXZleIzD/gsf8YtTWWqITQ1M5oumg6hbrtJDXfNqyHHPwIUpxb8LLuEstJdLm8WcfE5tXiVhBoN/bY34riNCROzD9gO82D4hGeiIGqEMNzlWu0dn/YDWsN/gm7b+UdcyDH8NdiBr2pAWTNaS1sH9fr+ethAs4EpDAnxVBt9WOeD6N5v9kEKZPdDQ2jtwH3/xk3tpMLetCoWobzFB0r7UZLc+yS8RgIIxEWsoIaLqnmlLn+3WnfdLh247AOgrng0k2q+trEIrvkgfWuqu3ly96v4weWivgPnloq+rxyOLClHbSiUzESc9Kux0c127vWKLGctIJaRXwzEezXrpgPTBE=
  - secure: wLfMhVeeCeCPTMuA+vYPc7a7OdXY43PVkEGuD+cNGzH2KrsThZMCZOcgz0d1R0xMsgbLcM6m0Ervzxu6zZCic+ARmcv/xkClWrMOEIylq2qIrMyJEBN3oxLm8gC1d9VwmulZIxAMSwKceRstgIiuvJs5WDJKM8jU8hkaFmA5vpvoGaiq9JJ8zvdh+p2Wa6u3HzAdgXQac6+nzp0jfhi3Pqgjk+rfI1liuAIp613cElYcLl+E61ISsiRutYEUw1qXLybf0lgpb5k+P4TnKmxhS2UINRX3NyePRY4qG35pZKhc9W61EFfNRu70aa4xcqsc/DIhk7NXKuHipjQwlRmR9bsabNITjiSDG55GyCuP8IKkF1GqcsT4pRijYI7DirnBizlxW0EO5qoSpt86PyJph3waIpS+BsahNiF1ukQ77Bn9JFt8EGVdp0UHcN5gJK2RQpFVqAffqLcJpXlUPtKD6QqPWyeKouGfC4qeCp+rsH3ebnVwEPM9iEJBFTutP7zOTBL7sQ2U6zTTwW4mQiWWLb9SPBaWNF9EkPXUjxZFwgmJLS3WJb+DIEPCP8j9VBEI5+3IuJw2D7ecNN80bxgc8TF+xfy3ppkq4FJP+tkG72lnAJrukucemS/VEv7V6X1Fl28STY8oSUE7fjT1AoZ398Wb7FIiqw5/56rCqoZXjO8=
